main{
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #e39b8c;
    color: black;
}

h1{
    font-size: 70px;
}