nav{
    background-color: #383d57;
    color: white;
    height: 15vh;
    width: 100%;
    font-size: 20px;
    align-content: center;
}

ul{
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;   
    justify-content: space-evenly;
}

li a{
    text-decoration: none;
    color: inherit
}



