main{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fdf4ed;
    color: black;
}

h1{
    font-size: 70px;
}